@charset "utf-8";
span#titulo {
  font-family: sans-serif;
  font-size: 15pt;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
div#tictoetac {
  border: 1px solid #606060;
  width: 700px;
  height: 700px;
  margin: auto;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(226, 227, 235, 0.925);
  opacity: 0.5;
}
div#divGanhador {
  left: 45%;
  top: 85%;
  margin: auto;
  position: absolute;
}
div#divGanhador span {
  font-size: 25pt;
}
div#divGanhador label {
  font-size: 25pt;
  color: green;
}
.quadro {
  width: 33%;
  height: 33%;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top: 1px solid #606060;
  border-left: 1px solid #606060;
  float: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.img {
  top: 50px;
  left: 10px;
}
#bt {
  width: 150px;
  height: 50px;
  display: block;
  position: absolute;
  font-size: 18pt;
  color: #606060;
}
